<mat-card class="container">
    <mat-card-header>
      <mat-card-title>Cadastro de Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <mat-label>ID Carteirinha</mat-label>
            <input matInput [(ngModel)]="idCarteirinha" name="idCarteirinha" disabled>
          </mat-form-field>
          <button class="example-full-width" mat-raised-button color="warn" type="button" (click)="buscarCarteirinha()">Buscar</button>
          <mat-form-field class="example-full-width pt-30">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="nome" name="nome">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Matrícula</mat-label>
            <input matInput [(ngModel)]="matricula" name="matricula">
          </mat-form-field>
          <br>
          <button class="example-full-width" mat-raised-button color="primary" type="submit">Salvar</button>
      </form>
    </mat-card-content>
    <div *ngIf="visivel" class="visivel">
      {{ textoDaDiv }}
    </div>
  </mat-card>

  